.cardDevelopment{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 500px;
    background: #fff;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15)
}
.container_img_dev img{
    width: 350px;
    height: 220px;
}