.softskills_all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c192c;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 40px;    
    font-family: 'Roboto', sans-serif;
}
.softskills_body{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 380px;
    width: 280px;
    background: #000;
}
.softskills_container{
    position: relative;
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
}
.softskills_container .loader{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: animateRotate 2s linear infinite;
}
.softskills_container .loader:nth-child(2),
.softskills_container .loader:nth-child(4){
    animation-delay: -1s;
    filter: hue-rotate(290deg);
}
@keyframes animateRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.softskills_container .loader span{
    position: absolute;
    inset: 15px;
    background: #000;
    border-radius: 50%;
    z-index: 1;
    
}
.container_keyword{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    position: absolute;
}
.keyword{
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyword h4{
    color: #fff;
    font-weight: 50;
    font-size: 0.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
}
.softskills_container .loader:nth-child(1)::before,
.softskills_container .loader:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, #00fff966);
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.softskills_container .loader i{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    z-index: 100;
    box-shadow: 0 0 10px #00fff9,
    0 0 20px #00fff9,
    0 0 30px #00fff9,
    0 0 40px #00fff9,
    0 0 50px #00fff9,
    0 0 60px #00fff9,
    0 0 70px #00fff9,
    0 0 80px #00fff9,
    0 0 90px #00fff9,
    0 0 100px #00fff9;
}
#red .loader i{
    background: #ff0000;
    box-shadow: 0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 30px #ff0000,
    0 0 40px #ff0000,
    0 0 50px #ff0000,
    0 0 60px #ff0000,
    0 0 70px #ff0000,
    0 0 80px #ff0000,
    0 0 90px #ff0000,
    0 0 100px #ff0000;
}
#red .loader:nth-child(1)::before,
#red .loader:nth-child(2)::before{
    background: linear-gradient(to top, transparent, #ff000066);
}
#yellow .loader i{
    background: #fbff00;
    box-shadow: 0 0 10px #fbff00,
    0 0 20px #fbff00,
    0 0 30px #fbff00,
    0 0 40px #fbff00,
    0 0 50px #fbff00,
    0 0 60px #fbff00,
    0 0 70px #fbff00,
    0 0 80px #fbff00,
    0 0 90px #fbff00,
    0 0 100px #fbff00;
}
#yellow .loader:nth-child(1)::before,
#yellow .loader:nth-child(2)::before{
    background: linear-gradient(to top, transparent, #fbff0066);
}
#blue .loader i{
    background: #001aff;
    box-shadow: 0 0 10px #001aff,
    0 0 20px #001aff,
    0 0 30px #001aff,
    0 0 40px #001aff,
    0 0 50px #001aff,
    0 0 60px #001aff,
    0 0 70px #001aff,
    0 0 80px #001aff,
    0 0 90px #001aff,
    0 0 100px #001aff;
}
#blue .loader:nth-child(1)::before,
#blue .loader:nth-child(2)::before{
    background: linear-gradient(to top, transparent, #001aff66);
}
#pink .loader i{
    background: #ff00be;
    box-shadow: 0 0 10px #ff00be,
    0 0 20px #ff00be,
    0 0 30px #ff00be,
    0 0 40px #ff00be,
    0 0 50px #ff00be,
    0 0 60px #ff00be,
    0 0 70px #ff00be,
    0 0 80px #ff00be,
    0 0 90px #ff00be,
    0 0 100px #ff00be;
}
#pink .loader:nth-child(1)::before,
#pink .loader:nth-child(2)::before{
    background: linear-gradient(to top, transparent, #ff00be66);
}
#purple .loader i{
    background: #02ff2c;
    box-shadow: 0 0 10px #02ff2c,
    0 0 20px #02ff2c,
    0 0 30px #02ff2c,
    0 0 40px #02ff2c,
    0 0 50px #02ff2c,
    0 0 60px #02ff2c,
    0 0 70px #02ff2c,
    0 0 80px #02ff2c,
    0 0 90px #02ff2c,
    0 0 100px #02ff2c;
}
#purple .loader:nth-child(1)::before,
#purple .loader:nth-child(2)::before{
    background: linear-gradient(to top, transparent, #02ff2c66);
}