.containerBodyDarkMode{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerBodyDarkMode section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 1s;
}
.div_gradient{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 10000;
    bottom: 0px;
}
/* #light .container_home .containerBodyDarkMode .div_gradient{
    background: linear-gradient(to top, #fff, transparent);
    transition: 1s;
}
#dark .container_home .containerBodyDarkMode .div_gradient{
    background: linear-gradient(to top, #0c192c, transparent);
    transition: 1s;
}  */
.layer{
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100vh;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25);
}
.layer.layer1{
    background: #03a9f4;
    transform: skewX(-45deg) translateX(0);
    z-index: 1;
}
.layer.layer2{
    background: #fff;
    transform: skewX(-45deg) translateX(-100px);
    z-index: 3;
}
.layer.layer3{
    background: #00ffff;
    transform: skewX(-45deg) translateX(-200px);
    z-index: 5;
}
.layer.layer4{
    transform: skewX(-45deg) translateX(-300px);
    transition: 1s;
    z-index: 10;
}
.layer.layer5{
    background: linear-gradient(to bottom, #00ffff, #00ffff,transparent);
    /* background: #00ffff; */
    transform: skewX(45deg) translateX(0px);
    z-index: 2;
}
.layer.layer6{
    background: linear-gradient(to bottom, #03a9f4, #03a9f4,transparent);
    /* background: #03a9f4; */
    transform: skewX(45deg) translateX(-100px);
    z-index: 4;
}
.layer.layer7{
    background: linear-gradient(to bottom, #fff, #fff,transparent);
    /* background: #fff; */
    transform: skewX(45deg) translateX(-200px);
    z-index: 6;
}
.layer.layer8{
    transform: skewX(45deg) translateX(-300px);
    transition: 1s;
    z-index: 8;
}
.layer.layer9{
    background: transparent;
    transform: skewX(45deg) translateX(-300px);
    z-index: 10;
}
.Title_Portfolio{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
    width: 100%;
    flex-direction: column;
    transition: 10s;
    z-index: 15;
}
.Title_Portfolio h3{
    font-weight: normal;
    text-align: start;
    font-size: 65px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
}
#dark .layer.layer4{
    background: #0c192c;
}
#light .layer.layer4{
    background: #fff;
}
#dark .layer.layer8{
    background: #0c192c;
}
#light .layer.layer8{
    background: #fff;
}
#dark .Title_Portfolio{
    color: #00ffff;
}
#light .Title_Portfolio{
    color: #20496a;
}

.word_const{
    color: #245db3;
}
.word_llave{
    color: #b324ac;
}
#dark .word_Profile{
    color: #fff;
}
#light .word_Profile{
    color: #000;
}

.typed-cursor.typed-cursor--blink,
.typed-cursor{
    color: transparent
}

.word_string{
    color: #c55911;
}

@media screen and (max-width: 900px) {
    .bubbles span{
        height: 10px;
    }
    .title h3,
    .separadores h1{
        font-size: 45px;
    }
    .text_animation p{
        font-size: 15px;
    }
    .layer.layer1{
        transform: skewX(-45deg) translateX(0);
    }
    .layer.layer2{
        transform: skewX(-45deg) translateX(-50px);
    }
    .layer.layer3{
        transform: skewX(-45deg) translateX(-100px);
    }
    .layer.layer4{
        transform: skewX(-45deg) translateX(-150px);
    }
    .layer.layer5{
        transform: skewX(45deg) translateX(50px);
    }
    .layer.layer6{
        transform: skewX(45deg) translateX(0px);
    }
    .layer.layer7{
        transform: skewX(45deg) translateX(-50px);
    }
    .layer.layer8{
        transform: skewX(45deg) translateX(-100px);
    }
    .layer.layer9{
        transform: skewX(45deg) translateX(-100px);
    }
}
@media screen and (max-width: 600px) {
    .bubbles span{
        height: 5px;
    }
    .Title_Portfolio h3,
    .separadores h1{
        font-size: 28px;
    }
    .text_animation p{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
    .Title_Portfolio h3,
    .separadores h1{
        font-size: 20px;
    }
    .text_animation p{
        font-size: 10px;
    }
    .layer.layer1{
        transform: skewX(-45deg) translateX(-25px);
    }
    .layer.layer2{
        transform: skewX(-45deg) translateX(-50px);
    }
    .layer.layer3{
        transform: skewX(-45deg) translateX(-75px);
    }
    .layer.layer4{
        transform: skewX(-45deg) translateX(-100px);
    }
    .layer.layer5{
        transform: skewX(45deg) translateX(0px);
    }
    .layer.layer6{
        transform: skewX(45deg) translateX(-25px);
    }
    .layer.layer7{
        transform: skewX(45deg) translateX(-50px);
    }
    .layer.layer8{
        transform: skewX(45deg) translateX(-75px);
    }
    .layer.layer9{
        transform: skewX(45deg) translateX(-75px);
    }
} 