.App_portfoliio{
    overflow: hidden;
}
.nav_opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    width: 50px;
    z-index: 10001;
}
.switch{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100010;
}
.switchLanguaje{    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100010;
}
.switch_bajar{    
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 20px;
    position: fixed;
    z-index: 10001;
    font-size: 2em;
    transition: 0.5s;
}
.switch_bajar a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.switch label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 24px;
    border-radius: 10px;
    margin: 10px;
}
#light .switch label{
    color: #222;
    background: #fff;
}
#dark .switch label{
    color: #fff;
    background: #222;
}
.switch_bajar li{
    list-style: none;
    z-index: 10002;
}
#dark .switch_bajar{
    color: #fff;
}
#light .switch_bajar{
    color: #000;
}
.switchLanguaje label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 24px;
    border-radius: 10px;
    margin: 10px;
}
#light .switchLanguaje label{
    color: #222;
    background: #fff;
}
#dark .switchLanguaje label{
    color: #fff;
    background: #222;
}
@media screen and (max-width: 360px) {
    .nav_opciones{
        flex-direction: column;
        align-items: flex-end;
        height: 100px;
    }
    .switch_bajar{
        right: 0px;
    }
} 
@media screen and (max-width: 940px) {
    .switch_bajar{
        display: none;
    }
    .nav_opciones {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        height: 150px;
        width: 96%;
        position: relative;
        flex-direction: column;
    }
    .switch label,
    .switchLanguaje label{
        background: transparent;
    }
}