.App_portfoliio{
    overflow: hidden;
}
.nav_opciones{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    height: 50px;
    width: 96%;
    top: 0;
    z-index: 10001;
    position: fixed;
}
.switch{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10001;
}
.switchLanguaje{    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10001;
}
.switch_bajar{    
    width: 100px; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 20px;
    right: 40px;
    position: fixed;
    z-index: 10001;
}
.switch label{
    width: 100px;
    height: 24px;
    border-radius: 10px;
    margin: 10px;
}
#light .switch label{
    color: #222;
    background: #fff;
}
#dark .switch label{
    color: #fff;
    background: #222;
}
.switch_bajar{    
    width: 100px; 
    height: 100px;
}
.switch_bajar li{
    list-style: none;
    z-index: 10002;
}
.switch_bajar li a{
    font-size: 2.5em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
#dark .switch_bajar li a{
    color: #fff;
}
#light .switch_bajar li a{
    color: #000;
}
.switchLanguaje label{
    width: 100px;
    height: 24px;
    border-radius: 10px;
    margin: 10px;
}
#light .switchLanguaje label{
    color: #222;
    background: #fff;
}
#dark .switchLanguaje label{
    color: #fff;
    background: #222;
}
@media screen and (max-width: 360px) {
    .nav_opciones{
        flex-direction: column;
        align-items: flex-end;
        height: 100px;
    }
    .switch_bajar{
        right: 0px;
    }
}