.container_card_all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.card{
    position: relative;
    width: 380px;
    height: 500px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15)
}
.card:hover{
    transform: perspective(2000px) translateX(50%);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15)
}
.card .cover{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
}
#dark .card .details h2,
#dark .card .details h3{
    color: #fff;
}
#light .card .details h2,
#light .card .details h3{
    color: #000;
}
#light .card .details{
    background: #c5c4c4;
}
#dark .card .details{
    background: #000;
}
#dark .card .cover{
    background: #000;
}
#dark .card .cover::before{
    background: #000;
}
#light .card .cover{
    background: rgb(197, 196, 196);
}
#light .card .cover::before{
    background: rgb(197, 196, 196);
}
.card:hover .cover{
    transform: rotateY(-180deg);
}

.card .cover img{
    max-width: 90%;
    z-index: 1;
}
.card .cover::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 150%;
    transform: rotate(36.5deg);
    transition: 0.5s;
    transition-delay: 1s;
}
.card:hover .cover::before{
    width: 0;
    transform: rotate(143.5deg);
}

#blue .card .cover::before{
    box-shadow: 0 0 0 20px #47bfce;
}
#blue .card:hover .cover::before{
    box-shadow: 0 0 0 350px #47bfce;
}
#blue .card .details a{
    background: #47bfce;
}
#blue .card .details h2{
    color: #47bfce;
}
#yellow .card .cover::before{
    box-shadow: 0 0 0 20px #8a8a21;
}
#yellow .card:hover .cover::before{
    box-shadow: 0 0 0 350px rgb(138, 138, 33);
}
#yellow .card .details a{
    background: rgb(138, 138, 33);
}
#yellow .card .details h2{
    color: rgb(138, 138, 33);
}
#grey .card .cover::before{
    box-shadow: 0 0 0 20px rgb(139, 138, 138);
}
#grey .card:hover .cover::before{
    box-shadow: 0 0 0 350px #8b8a8a;
}
#grey .card .details a{
    background: rgb(139, 138, 138);
}
#grey .card .details h2{ 
    color: rgb(139, 138, 138);
}
#purple .card .cover::before{
    box-shadow: 0 0 0 20px #1F1D36;
}
#purple .card:hover .cover::before{
    box-shadow: 0 0 0 350px #1F1D36;
}
#purple .card .details a{
    background: #1F1D36;
}
#purple .card .details h2{
    color: #1F1D36;
}
.card .details{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.521);
}
.card .details h2{
    font-size: 20px;
    margin: 0 10px;
}
.card .details h3{
    font-size: 15px;
}
.card .details a{
    display: inline;
    padding: 8px 20px;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
}

.card .details img{
    max-width: 90%;
}
@media screen and (max-width: 900px) {
    .card{
        width: 260px;
        height: 400px;
    }
    .card .details h2{
        font-size: 17px;
    }
    .card .details h3{
        font-size: 12px;
    }
    .card .details a{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    .card{
        width: 180px;
        height: 320px;
    }
    .card .details h2{
        font-size: 15px;
    }
    .card .details h3{
        font-size: 12px;
    }
    .card .details a{
        font-size: 12px;
    }
}
@media screen and (max-width: 360px) {
    .card{
        width: 160px;
        height: 270px;
    }
    .card .details h2{
        font-size: 10px;
    }
    .card .details h3{
        font-size: 10px;
    }
    .card .details a{
        font-size: 10px;
    }
}