.container_home{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container_correo_mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container_hi_send h5{
    text-align: start;
    margin-top: 10px;
    margin-bottom: 20px;
}
.container_correo{
    width: 50%;
    margin: 30px;
    margin-right: 70px;
}
.container_map{
    width: 50%;
    height: 100%;
}
.text_animation{
    text-align: start;
    margin-bottom: 10px;
}
#dark .container_hi_send{
    color: #22d4d4;
}
#light .container_hi_send{
    color: #0c192c;
}
#dark .container_home{
    background: #0c192c;
}
#light .container_home{
    background: #fff;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 10000;
}
/* #light .container_home section::before{
    background: linear-gradient(to top, #fff, transparent);
    transition: 1s;
}
#dark .container_home section::before{
    background: linear-gradient(to top, #0c192c, transparent);
    transition: 1s;
} */
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section img#man{
    transform-origin: bottom;
}
#text{
    position: relative;
    color: #fff;
    font-size: 10vw;
}
.sec{
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}
.sec h2{
    font-size: 3.5em;
    margin: 0px;
}
.container_about_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
}
.container_image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_image img{
    border-radius: 50%;
    width: 400px;
}
.container_about_me_text > p{
    text-align: left;
    font-size: 1.2em;
}
.sec p{
    font-size: 1.2em;
}
.container_cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.separadores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}
#light .sec{
    color: #20496a;
}
#dark .sec{
    color: #22d4d4;
}
#light .separadores{
    color: #20496a;
}
#dark .separadores{
    color: rgb(34, 212, 212);
}
#light .container_home .sec{
    background: #fff;
    transition: 1s;
}
#dark .container_home .sec{
    background: #0c192c;
    transition: 1s;
}
#light .container_home .separadores{
    background: #fff;
    transition: 1s;
}
#dark .container_home .separadores{
    background: #0c192c;
    transition: 1s;
}
#light .container_home .container_cards{
    background: #fff;
    transition: 1s;
}
#dark .container_home .container_cards{
    background: #0c192c;
    transition: 1s;
}
#light .container_home .container_all_skills{
    background: #fff;
    transition: 1s;
}
#dark .container_home .container_all_skills{
    background: #0c192c;
    transition: 1s;
}
#light .container_home .container_footer{
    background: #fff;
    transition: 1s;
}
#dark .container_home .container_footer{
    background: #0c192c;
    transition: 1s;
}
#light .container_home .container_correo_mapa{
    background: #fff;
    transition: 1s;
}
#dark .container_home .container_correo_mapa{
    background: #0c192c;
    transition: 1s;
}
@media screen and (max-width: 1300px) {
    .container_cards{
        flex-direction: column;
    }
}
@media screen and (max-width: 1200px) {
    .container_about_me{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 900px) {
    .sec{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container_correo_mapa{
        flex-direction: column-reverse;
    }
    .container_correo{
        width: 80%;
    }
    .container_map{
        width: 90%;
    }
}