.container_all_contact{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container_body_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #0c192c;
}
.buton_submit_send input{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    color: #0c192c;
    background: #00dfc4;
    border: 1px solid #00dfc4;
    cursor: pointer;
}
.inputBox{
    position: relative;
    width: 100%;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox textarea{
    min-width: 100%;
    min-height: 50px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
}
.inputBox textarea:focus ~ span{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.70em;
    padding: 0 10px;
    letter-spacing: 0.2em;
}
.inputBox span{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    transform: translateX(10px) translateY(-7px);
    font-size: 0.70em;
    padding: 0 10px;
    letter-spacing: 0.2em;
}
#dark .container_body_contact .inputBox span{
    color: rgba(255, 255, 255, 0.25);
    transition: 1s;
}
#light .container_body_contact .inputBox span{
    color: #0c192c;
    transition: 1s;
}
#dark .container_body_contact .inputBox input{
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #0c192c;
    color: #fff;
    transition: 1s;
}
#light .container_body_contact .inputBox input{
    border: 1px solid #0c192c3f;
    background: #fff;
    color: #0c192c;
    transition: 1s;
}
#dark .container_body_contact .inputBox input:valid ~ span,
#dark .container_body_contact .inputBox input:focus ~ span{
    color: #00dfc4;
    background: #0c192c;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    transition: 0.5s;
}
#dark .container_body_contact .inputBox input:valid ,
#dark .container_body_contact .inputBox input:focus {
    border:1px solid #00dfc4;
    transition: 0.5s;
}
#light .container_body_contact .inputBox input:valid ~ span,
#light .container_body_contact .inputBox input:focus ~ span{
    color: #0c192c;
    background: #fff;
    border-left: 1px solid #0c192c;
    border-right: 1px solid #0c192c;
    transition: 0.5s;
}
#light .container_body_contact .inputBox input:valid ,
#light .container_body_contact .inputBox input:focus {
    border:1px solid #0c192c;
    transition: 0.5s;
}
/* -----------------textarea------------- */
#dark .container_body_contact .inputBox textarea{
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    background: #0c192c;
    transition: 1s;
}
#light .container_body_contact .inputBox textarea{
    border: 1px solid #0c192c3f;
    color: #0c192c;
    background: #fff;
    transition: 1s;
}
#dark .inputBox textarea:focus ~ span{
    color: #0c192c;
    background: #00dfc4;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    transition: 0.5s;
}
#light .inputBox textarea:focus ~ span{
    color: #00dfc4;
    background: #0c192c;
    border-left: 1px solid #0c192c;
    border-right: 1px solid #0c192c;
    transition: 0.5s;
}
#dark .inputBox textarea:focus {
    border:1px solid #00dfc4;
    transition: 0.5s;
}
#light .inputBox textarea:focus {
    border:1px solid #0c192c;
    transition: 0.5s;
}
#dark .container_body_contact {
    background: #0c192c;
    transition: 1s;
}
#light .container_body_contact {
    background: #fff;
    transition: 1s;
}