.container_skillsTecnichals_cards{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 40px;
}
.card_skillTecnichal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: 200px;
    width: 180px;
    transition: 1s;
}
#dark .card_skillTecnichal{
    background: #000;
    color: #fff;
    transition: 1s;
}
#light .card_skillTecnichal{
    background: #c5c4c4;
    color: #000;
    transition: 1s;
}
#dark .container_skillsTecnichals_cards{
    background: #0c192c;
    transition: 1s;
}
#light .container_skillsTecnichals_cards{
    background: #fff;
    transition: 1s;
}