.container_dark_all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_body{
    min-height: 100vh;
    background: #0c192c;
}
.container_dark{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #3586ff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #3586ff,
    0 0 100px #3586ff;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: rgb(138, 138, 33);
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px rgb(138, 138, 33),
    0 0 100px rgb(138, 138, 33);
}
.title{
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title > h2{
    font-size: 70px;
    font-family: 'Poppins', Aboreto;
}
.title > h3{
    font-size: 50px;
    font-family: 'Poppins', Saira;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}