@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

.container_dark_all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.word_const{
    color: #245db3;
}
.word_llave{
    color: #b324ac;
}
#dark .word_Profile{
    color: #fff;
}
#light .word_Profile{
    color: #000;
}
/* .word_attrib{
    color: #00ffff;
} */
.word_string{
    color: #c55911;
}
.container_body{
    min-height: 100vh;
}
.container_dark{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #3586ff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #3586ff,
    0 0 100px #3586ff;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: rgb(138, 138, 33);
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px rgb(138, 138, 33),
    0 0 100px rgb(138, 138, 33);
}
.title{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    transform: translate(-50%, -50%);
}
.title h3{
    font-weight: normal;
    text-align: start;
    font-size: 65px;
    margin: 0px;
    font-family: 'Saira', sans-serif;
}
#dark .title{
    color: #00ffff;
    transition: 1s;
}
#light .title{
    color: #20496a;
    transition: 1s;
}
#dark .container_body{
    background: #0c192c;
    transition: 1s;
}
#light .container_body{
    background: #fff;
    transition: 1s;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
@media screen and (max-width: 1200px) {
    .bubbles span{
        height: 20px;
    }
    .title h3{
        font-size: 55px;
    }
}
@media screen and (max-width: 900px) {
    .bubbles span{
        height: 10px;
    }
    .title h3{
        font-size: 45px;
    }
}
@media screen and (max-width: 600px) {
    .bubbles span{
        height: 5px;
    }
    .title h3{
        font-size: 28px;
    }
}