@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container_dark_all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_body{
    min-height: 100vh;
}
.container_dark{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #3586ff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #3586ff,
    0 0 100px #3586ff;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: rgb(138, 138, 33);
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px rgb(138, 138, 33),
    0 0 100px rgb(138, 138, 33);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.title > h2{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
}
.title > h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Saira', sans-serif;
}
#dark .title{    
    color: cyan;
    transition: 1s;
}
#light .title{
    color: #20496a;
    transition: 1s;
}
#dark .container_body{
    background: #0c192c;
    transition: 1s;
}
#light .container_body{
    background: #fff;
    transition: 1s;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}